body {
    font-family: verdana, sans-serif;
    background-color: #000000;
    background-image: linear-gradient(6deg, #000000 0%, #3e3e3e 100%);
}
.footnote {
    color: #fff;
    font-size: 1em;
}
svg {
    fill: #000;
}
div a:hover svg {
    fill: #fff;
}
a:active,
a:focus,
{
    outline: 0;
    border: none;
    -moz-outline-style: none;
}
.power {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-left: -5px;
}
.controller {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-left: -5px;
}
a {
    display: block;
    width: 49%;
    margin-left: 10px;
    margin-bottom: 10px;
    flex-grow: 2;
}
a button {
    transition: all 1s ease;
}
input[type="button"] {
    outline: none;
}
input[type="button"]::-moz-focus-inner {
    border: 0;
}
a button:hover,
a button:active,
.colour_picker input:hover,
.colour_picker input:active {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 1);
}
a button {
    text-transform: capitalize;
    background-color: #6b6b6b;
    background-image: linear-gradient(6deg, #e2e2e2 0%, #ffffff 100%);
    font-weight: bold;
    font-size: 3em;
    width: 100%;
    height: 25%;
    border: 0px;
    border-radius: 15px;
}
button:hover {
    color: #fff;
    background-color: #caffff;
    background-image: linear-gradient(180deg, #caffff 0%, #93d8d8 100%);
    cursor: hand;
}
#on:active,
#on:hover,
.on {
    color: #fff;
    background-color: #ffcd6a;
    background-image: linear-gradient(0deg, #ffcd6a 0%, #fffcde 100%);
}
#off:active,
#off:hover,
.off {
    color: #fff;
    background-color: #212121;
    background-image: linear-gradient(135deg, #212121 0%, #7a7a7a 100%);
    color: #fff;
}
#red:active,
#red:hover,
.red {
    color: #fff;
    background-color: #ff5959;
    background-image: linear-gradient(45deg, #ff5959 0%, #bb0003 100%);
}
#blue:active,
#blue:hover,
.blue {
    color: #fff;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #7021ff 100%);
}
#green:active,
#green:hover,
.green {
    color: #fff;
    background-color: #7cc000;
    background-image: linear-gradient(19deg, #7cc000 0%, #00bd5d 100%);
}
#purple:active,
#purple:hover,
.purple {
    color: #fff;
    background-color: #5f03d2;
    background-image: linear-gradient(19deg, #5f03d2 0%, #B721FF 100%);
}
#rainbow:active,
#rainbow:hover,
.rainbow {
    color: #fff;
    background-color: #fd4000;
    background-image: linear-gradient(0deg, #fd4000 0%, #fdd90a 27%, #2AF598 51%, #00e9e7 71%, #718bef 100%);
}
#cylon:active,
#cylon:hover,
.cylon {
    color: #fff;
    background-color: #5b0000;
    background-image: linear-gradient(90deg, #5b0000 0%, #ff0004 50%, #5f0000 100%);
}
#sparkle:active,
#sparkle:hover,
.sparkle {
    color: #fff;
    background-color: #6f6f6f;
    background-image: linear-gradient(19deg, #6f6f6f 0%, #ffffff 100%);
}
#fire:active,
#fire:hover,
.fire {
    color: #fff;
    background-color: #fff8f8;
    background-image: linear-gradient(147deg, #fff8f8 0%, #FFE53B 23%, #FF2525 100%);
}
#sunset:active,
#sunset:hover,
.sunset {
    color: #fff;
    background-color: #FBAB7E;
    background-image: linear-gradient(322deg, #FBAB7E 0%, #F7CE68 100%);
}
#theatre:active,
#theatre:hover,
.theatre {
    color: #fff;
    background-color: #960000;
    background-image: linear-gradient(180deg, #960000 19%, #ff0000 79%, #000000 100%);
}
.colour_picker {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}
.colour_picker input {
    height: 10%;
    cursor: hand;
    width: 100%;
    padding: 17px 0px;
    margin: 5px;
    background-color: #fff;
    border-radius: 15px;
    padding: 10px 0px;
    border: none;
    text-align: center;
    font-size: 2.5em;
}
